<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swiss Army Knife</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    <div class="d-flex gap-2 justify-content-center py-3">
        <a href="/"><img src="images/swissArmyKnife.svg" alt="Swiss Army Knife logo"/></a>
        <button class="btn btn-danger px-3" id="iplocator" type="button" onclick="location.href='/iplocator'">IP LOCATOR</button>
        <button class="btn btn-danger px-3" id="email" type="button" onclick="location.href='/email'">EMAIL VERIFICATOR</button>
        <button class="btn btn-danger px-3" id="dictionary" type="button" onclick="location.href='/dictionary'">DICTIONARY</button>
        <button class="btn btn-danger px-3" id="qrcode" type="button" onclick="location.href='/qrcode'">QR CODE MAKER</button>
        <button class="btn btn-danger px-3" id="currency" type="button" onclick="location.href='/currency'">CURRENCY CONVERTER</button>
      
        <!-- <button class="btn btn-outline-danger px-3" type="button">Warning</button> -->
      </div>