<%- include('partials/header.ejs') %>

<div class="d-flex gap-2 justify-content-center py-3">
  <button class="btn btn-danger px-3" type="button" onclick=""><a href="/IPLOCATOR">IP LOCATOR</a></button>
  <button class="btn btn-danger px-3" type="button"><a href="/IPLOCATOR">EMAIL VERIFICATOR</a></button>
  <button class="btn btn-danger px-3" type="button"><a href="/IPLOCATOR">DICTIONARY</a></button>
  <button class="btn btn-danger px-3" type="button"><a href="/IPLOCATOR">QR CODE MAKER</a></button>
  <button class="btn btn-danger px-3" type="button"><a href="/IPLOCATOR">JSON BIN</a></button>

  <!-- <button class="btn btn-outline-danger px-3" type="button">Warning</button> -->
</div>




    <h1>Welcome to the Swiss Army Knife!</h1>

    <% if (locals.test) { %>
     
    <p><%= test %></p>
    <% } %>

    
<%- include('partials/footer.ejs') %>   
