<%- include('partials/header.ejs') %>





<div class="text">

  <h1>Welcome to the Swiss Army Knife!</h1>
  
  <h2>This site is a collection of specific, but useful little tools for when you need them, all in one place! They are:</h2>

  <ul>
    <li>IP LOCATOR: Determines the global location of a given IP Address.</li>
    <li>EMAIL VERIFICATOR: Determines if a given e-mail address follows proper syntax.</li>
    <li>DICTIONARY: Quickly consults an online dictionary to get the definitions of a given word.</li>
    <li>QR CODE GENERATOR: Converts a given link into a QR Code.</li>
    <li>CURRENCY CONVERTER: Lets you convert an amount from one currency to another, using up-to-date exchange rates.</li>
  </ul>
    
</div>
    
<%- include('partials/footer.ejs') %>   
