<%- include('partials/header.ejs') %>







    <h1>Welcome to the Swiss Army Knife!</h1>

    <% if (locals.test) { %>
     
    <p><%= test %></p>
    <% } %>

    
<%- include('partials/footer.ejs') %>   
