<%- include('partials/header.ejs') %>

<h2>IP LOCATOR</h2>

<div class="formDisplay">


<form method="POST">
    <label style="display: block; text-align: center;" for="ip">Type your IP here</label>
    <p></p>
    <input type="text" name="ip" id="ip">
    <input type="submit" class="btn btn-danger my-0 py-0" style="height: 32px;" value="Submit" formaction="/iplocator">
</form>

<textarea class="formResponse" name="response" id="response" cols="30" rows="10"><% if (locals.response) {%><%=response%><%} else {%><%}%>
</textarea>

</div>

<%- include('partials/footer.ejs') %>  