<%- include('partials/header.ejs') %>

<h2>QR Code Generator</h2>

<div class="formDisplay">
    <form method="POST">
        <label for="word">Type in your URL here!</label>
        <p></p>
        <input type="text" name="url" id="url">
        <input type="submit" value="Submit" class="btn btn-danger my-0 py-0" style="height: 32px;" formaction="/qrcode">
    </form>
</div>


<% if (locals.qrcode) { %>
 <img src="<%=qrcode%>" id="qrcodeImg" alt="qrcode" onload="loadedImg(this)">
<% } %>

<script>
    function loadedImg(item) {
        item.style.display = "block";
        }
</script>

<%- include('partials/footer.ejs') %>