h1{
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

img {
    display: inline;
    height: 50px;
    width: 50px;
}

.text{
    text-align: center;
    padding: 5rem;
}

svg{
    height: 50px;
    width: 50px;
}
