h1, h2{
    text-align: center;
}


/* h2{ */
    /* text-align: center; */
/* } */

a{
    color: white;
    text-decoration: none;
}

img {
    display: inline;
    height: 50px;
    width: 50px;
}

.text{
    text-align: center;
    padding: 5rem;
}

svg{
    height: 50px;
    width: 50px;
}

.formDisplay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 60%; */
}

.formResponse{
    margin-top: 20px;
}

#imgInvert{
    filter:invert(1);
    transition: filter 0.5s ease;
}

#imgInvert:hover{
    /* -webkit-filter:invert(100%) !important; */
    /* filter: invert(100%) !important; */
    filter: none;
    transition: filter 0.5s ease;
}


label{
    text-align: center;
    display: block;
}


footer{
    bottom:0;
}